nav {
  height: 50px;
  background-color: lightgrey;
}

/* target the class of inline-block below */
.inline-block{
  display: inline-block;
  padding: 15px;
}
/* target the class of .left below */
.left{
height: 500px;
float: left;
background-color: blue;
width: 29%;
display: block;
}
/* target the class of .right below */
.right{
height: 750px;
float: left;
background-color: teal;
width: 70%;
text-align: center;
}

.card{
  display: inline-block;
  background-color: #C6C6C6;
  border-radius: 5px;
  height: 200px;
  width: 150px;
  margin: 35px;
  margin-top: 50px;
}

.imageBox{
  position: relative;
  height: 250px;
  background-color: orange;
  width: 100%;
}

.lowerBox{
  height: 100%;
  background-color: pink;
  width: 100%;
  display: block;
}

.img{
  position: fixed;
}